html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body {
    padding-top: 70px;
    color: #3C4649;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}

a {
    color: #026982;
}

h2 {
    border-bottom: thin solid #C9E0DE;
    padding: 7px 0 7px 0;
}

pre {
    margin-left: 20px;
}

blockquote {
    font-size: 14px;
}

.container-fluid {
    padding: 0 15px;
}

.navbar-inverse {
    background-image: linear-gradient(to bottom, #003947 0px, #001014 100%);
    background-repeat: repeat-x;
}

.navbar {
  min-height: 50px;
  z-index: 1000;
}

.navbar .container {
    padding: 0 15px;
    margin: 0;
}

.navbar-brand img {
  vertical-align: initial;
}

.footer .container {
    padding: 0 15px;
    margin: 0;
}

.container {
  margin-left: 8.33333%;
  margin-bottom: 50px;
}

.alert {
    margin-left: 20px;
}

.alert a {
    text-decoration: underline
} 

.alert-info {
    background-image: linear-gradient(to bottom, #EDFFFD 0px, #E0FAF8 100%);
    background-repeat: repeat-x;
    border-color: #C4EFEC;
}

/* default is fixed
.bs-sidenav.affix {
    position: inherit;
    top: 0;
}
*/

.footer {
    padding-top: 5px;
    padding-bottom: 0;
    background-image: linear-gradient(to bottom, #003947 0px, #001014 100%);
    background-repeat: repeat-x;
    line-height: 34px;
    font-size: smaller;
    color: #b0bbbf;
    margin: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}

