html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar .container {
    padding: 0 15px;
    margin: 0;
}

.container {
  margin-left: 8.33333%;
}

